
}
header{
    height: 150px;
    background: #303F9F;
}
.logoPrincipalfinal{
width: 300px;
 margin-left: -15 px; 
 margin-top: -43px;
 margin-right: -25px;
margin-bottom: -53px;
text-align: center;
}
a{ color: #BDBDBD

}

h5{
    padding: 10px;
    text-align: center;
    margin-left: 40px;
    margin-top: 1px
   ;
}


.medio{
    height: 230px;
}

.logosNav{
width: 30px;
margin-top: -10px;
margin-bottom: -10;
margin-left: 2px;
padding:2px;
text-align: center;
}
section{
    height: 300px;
    

}
nav ul{
text-align: center;
}

nav ul li {
display: inline-block;
}


p{
margin-top: -200px;
font-weight: 400;
font-size: 15px;
text-align: center;
padding: 20px;
}
body{
font-family: 'Roboto', sans-serif;
color: #212121;
font-weight: 400;
font-size: 15px;
text-align: center;
background: #303F9F;
}

.ultimo{
height: 50px;
}

ol{
    list-style-type: none;
}
div nav ol li p {
height: 13px;
text-align: center;
margin-top: 17px
}


.boton{
font-family: 'Roboto', sans-serif;
color: #212121;
text-transform: capitalize;
text-decoration: none;
background-color:#0288D1;
border: solid 2px #BDBDBD;
padding: 10px;
border-radius: 3px;
box-shadow: -5px 2px rgba(1,1,1,0.8);
width: 5px;
margin-bottom: 15px;
}


footer{
background: #BDBDBD;
height: 25px;
font-family: 'Roboto', sans-serif;
font-size: 10px;
text-align: center;
margin-top: 200px;
margin-bottom: 10px;
padding: 5px;
}
.Copy{
width: 10px;
}

.Pie{
list-style-type: none;
display: inline-block;
}